<!DOCTYPE html>
	
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
<!-- 			tab icon picture -->
			<link rel="icon" href="https://imgur.com/VBud2fS.png">
<!-- 			google fonts -->
			<link href="https://fonts.googleapis.com/css?family=Dancing+Script|Raleway|Spectral+SC|Vollkorn+SC" rel="stylesheet">
<!-- 			trying to make a white box at the top of the page -->
			<style>
				.flex-container {
					display: flex;
					background-color: white;
				}
			</style>
		</head>		
<style>
body {
	background-image:url("https://imgur.com/z5jv3tb.png");
}
</style>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About Us</a></li>
	        		<li><a href="/hotels">Hotels</a></li>
	        		<li><a href="/registry">Registry</a></li>
				<li><a href="/rsvp">RSVP</a></li>
				<li><a href="/photos">Photos</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div>
			<!-- /.container -->
			<footer>
	    		<ul>
	        		<li style="font-family:georgia;"><a href="mailto:ariandjuliagetmarried@gmail.com">email</a></li>
				</ul>
			</footer>
		</body>
	</html>
