<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
<style>
body {
	background-image:url("http://www.backgroundsy.com/file/large/light-blue-background.jpg");
}
</style>
		<body>
			<nav>
	    		<ul>
	        		<li style="font-family:georgia;"><a href="/">Home</a></li>
		        	<li style="font-family:georgia;"><a href="/about">About Us</a></li>
	        		<li style="font-family:georgia;"><a href="/hotels">Hotels</a></li>
	        		<li style="font-family:georgia;"><a href="/registry">Registry</a></li>
				<li style="font-family:georgia;"><a href="/rsvp">RSVP</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li style="font-family:georgia;"><a href="mailto:ariandjuliagetmarried@gmail.com">email</a></li>
				</ul>
			</footer>
		</body>
	</html>
